# GASでデプロイしたWebアプリの /exec URL をここに設定する
# 例: https://script.google.com/macros/s/XXXXXXXXXXXXXXXX/exec
VITE_API_BASE_URL=https://script.google.com/macros/s/AKfycbwJM5QNoJCvfIdIGjYBIDwo_llvIq7FEv-coQQe58qVAuYbGA_8-bIm4kYwLg5rMZhF2Q/exec
